@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/******************/
/* Global Setting */
/******************/
body{
	background:#FFF;
	margin:0px;
	font-family: 'Noto Sans Japanese', sans-serif,"Helvetica","メイリオ";
	background-image:url(http://bg-patterns.com/p/pt_0003/m_pt_00030.jpg);
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans Japanese', sans-serif,"Helvetica","メイリオ";
}

a,th,td,p{
    font-family: 'Noto Sans Japanese', sans-serif,"Helvetica","メイリオ";
    color:black;
}

.pure-table {
    border-collapse:separate;
    /*border-spacing: 0.5em; */
    border-width: 0.5px;
    background-color: rgba(255,255,255,0.5);
    border-right:none;
    border-left:none;
}
.pure-table td{
    border-left-width: 0;
    padding:1.0em 2.0em;
}

.pure-table tbody > tr > td:first-child {
    background-color: rgba(135,206,250,0.3);
}
.pure-table caption {
    font-family: 'Noto Sans Japanese', sans-serif,"Helvetica","メイリオ";
}

.caption p {
    text-indent: 1em;
}

/******************/
/* Class Setting */
/****************/

.main {
    background:rgba(255,255,255,0.8);
    margin-top:3em;
    margin-bottom:3em;
    padding-left:3em;
    padding-right:3em;
}
.title {
    text-align: center;
}

.minititle {
    color: #00bfff;
}
#authors {
    padding: 0em 3em;
}
.author {
    padding: 1em 1em;
    background-color:rgba(255,255,255,0.5);
}
.author-img  {
    padding: 0.5em;
    padding-top:0em;
    width:auto;
    height:auto;
    max-width:200px;
    max-height:250px;
}
h3.author-name {
  margin-bottom:0.5em;
}
h4.works-title {
    margin:0.3em;
}
.works {
    padding-left:1em;
}
.works > h5{
    margin: 0.5px;
}
